# Virtual environments
venv/
.venv/

# Editors
.vscode/

# Python
__pycache__/
*.pyc

# Testing
.pytest_cache/
tests/
test_attach.md
test_attach.pdf
test_attach.jpg

# Cache
.cache/

# macOS
.DS_Store

# Environment variables
.env

# Database
*.db

# Logs
System_Logs.txt

# Audio
*.wav

# Test Files
*.md
*.pdf
*.jpeg
*.jpg
*.png

# AGENTS file
AGENTS.md
