# Virtual environments
venv/
.venv/

# Editors
.vscode/

# Python
__pycache__/
*.pyc

# Cache
.cache/

# macOS
.DS_Store

# Environment variables
.env

# Database
*.db

# Logs
System_Logs.txt

# Audio
*.wav
